{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story08.css' %}" />

    <title>
        {% block title %} Story 08 - Jeffrey's Profile{% endblock %}
    </title>
</head>
<body>
    <header>
        <!-- As a heading -->
		<nav class="navbar navbar-light" style="background-color: #ccc; color: black">
			<span class="navbar-brand mb-0 h1" style="font-size: 2.5em;"> <strong>Jeffrey's Profile </strong></span>
		</nav>

		<div class = "container" style="text-align: right">
			<select class="my-select"></select>
			<button class="apply-button">apply</button>
		</div>		
    </header>
    <content>
            {% block content %}
				<table style="width:90%">
				  <tr>
					<th width = "10%"> <img src="https://lh3.googleusercontent.com/Ay5wFV3eeQ22d5iYD6yKt7XzOfq4bMmD6lh6lObJCbac1Z-cK7mupu4r9FGEj0YMZOdvJOfWXu4MrgRLe08o5DpbDuic76A9O6ha4cXSuQBCnBzblnG-sZb4QTcwtnDlxUcGil4JgUTfgyFnv46PQrRZFtmt6wl8CVze3XJAQ_zTUh8V9TrhyeDCDU9UM5H2_SKERy439L1KiCy4t5k275gFqONvmm3zaJnWPOtH-bQYp9vUeVXyGD2ilBGwH5l2oQmlSnKg-tAuciVZJqVZMZFVVvET-1_sLFxHYUny50YeoIhgK4-ymATNb_vnuEXwDvP90T7tvqXPUPdykWSR2SWjdlkxideyjqayr7axaUt-8mIN-pC3kU95tQIS26as4ZtKZXxG8nz6pk_7bLtwStfsyjOEmT3HcugveTdMAHEJWUGMj5gwWjt4I7xgoeTJkNZsK-LxrqS0WXsra69FCOZyg-E9kYcA78Q7uWPsOpQkLgC143Ph00tvFQya2ZwfQeMlPeTuF6hAsSrsq3FRvArMkwbQZWVWe2FNnQ8lMNf4Eupch1tEFGXsV5M_uzcVygD7xcnQTAj0I_-BIg8z64vNseFug9mE3jMRCZJQK7QzyMLDVfwl_hNYN2rKXiF8fo9G0WmvSkedNdGED2QdNugK=w171-h227-no" alt ="Jeffrey" width="200" align="right"> </th>
					<th width="5%"> </th>
					<th width = "60%">
					  <div align="justify">
						Nama saya Jeffrey. Saya lahir di Medan, Sumatera Utara pada tanggal 8 Desember 1998. Sebelum masuk Fasilkom UI, saya bersekolah di SMA Bunda Mulia School yang terletak di Jalan Lodan Raya No. 1, Jakarta Utara. Alasan saya masuk Fasilkom itu gara-gara saya suka hal-hal yang berkaitan dengan IT dan saya melihat bahwa peluang kerja dalam bidang IT sangat besar, maka dari itu saya memilih Fasilkom UI. Saat saya masuk Fasilkom, saya merasa bahwa kehidupan kuliah dan sekolah sangat berbeda. Di UI, saya belajar untuk lebih bisa mandiri dan dapat mengatur waktu dengan baik. Terutama dalam hal akademik, pelajaran di kuliah sangat berbeda dengan SMA.
					  </div>
					</th>
					</tr>
					
				 </table>
				 <br>
				  
                <button class="accordion">Aktivitas</button>
				<div class="panel">
					<ul>
						<li> Ikut acara Sangha Dana KMBUI - Jumat, 2 November 2018 - Minggu, 4 November 2018 </li>
						<li> Mengerjakan TP 2 SDA - Senin, 29 Oktober 2018 - Jumat, 9 November 2018 </li>
						<li> Mengerjakan Story 08 PPW - Jumat, 2 November 2018 - Kamis, 8 November 2018 </li>
					</ul>
				</div>
				<button class="accordion">Pengalaman Organisasi dan Kepanitiaan</button>
				<div class="panel">
					<ul>
						<li> Penanggung Jawab Keamanan Baksos KMBUI </li>
						<li> Wakil Penanggung Jawab Sponsor Sangha Dana KMBUI </li>
						<li> Staf Dekor Waisak KMBUI </li>
						<li> Staf perlengkapan Makrab KMBUI </li>
						<li> Staf Dekor Sosial Project Tarung </li>
						<li> Staf Website KMBUI </li>
						<li> Staf OSIS SMA </li>
					</ul>
				</div>
				<button class="accordion">Prestasi</button>
				<div class="panel">
					<ul>
						<li> Terbaik di Matematika, Kimia, Fisika, dan Komputer saat SMA kelas 3 </li>
						<li> Partisipasi OSN Matematika </li>
						<li> Partisipasi SEAMC 2014 & juara Buddy Group </li>
						<li> Partisipasi SEAMC 2013 </li>
					</ul>
					<br>
				</div>
				<div class="container">
					<h1> <strong> Subscribe </strong></h1>
					<div style="width:50%">
						<form name="form" action="{% url 'subscribe' %}" method="post" onsubmit="return alert('Form submitted. Thanks for being a subscriber!');">
							{%csrf_token%}
							{% for error in form10.non_field_errors %}
							<div class="form-group has-errors text-danger small">
								{{error}}
							</div>
							{% endfor %}
							{% for field in form10 %}
							<div class="form-group has-errors text-danger small">
								{{field.errors}}
							</div>
							<div class="form-group has-errors text-danger small">
							</div>
							<div class="form-group">
								{{field}}
							</div>
							{% endfor %}
							<button class="btn btn-primary" id="subscribe" style="width:30%" value="Submit" disabled="disabled" >Subscribe</button>
					</div>
					</form>
				</div>
				<div>
					<br>
				</div>
            {% endblock %}
    </content>
    <footer>
        <div class="navbar fluid navbar-light" style="background-color: #ccc; text-align: center; color: black">© Copyright</div>
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

	<script src="{% static 'js/story08.js' %}"></script>
</body>
