.accordion {
    background-color: #eee;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 1vw;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5vw;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    color: black;
}

hr {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2%;
}


